<p>
  PG result = <%= @count %>
</p>

<p>
  Redis result = <%= @redis_result %>
</p>

<pre>
  <% @env_vars.sort.each do |key, val| %>
    <%= key %>=<%= val %>
  <% end %>
</pre>

<h3>Files</h3>
<pre>
  <%= @files %>
</pre>
